{% extends 'base.html' %}
{% block content %}


      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
       {% include 'navs.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Fix your mobile device issues with MRSS</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <!-- Content Row -->


          <!-- Content Row -->
            <div class="row">
            <div class="col-md-12">

                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title">{{ object.title }}</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">

                            <div class="post-container">
                            <div class="post-detail">
{#                              <div class="reaction">#}
{#                                <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 13</a>#}
{#                                <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>#}
{#                              </div>#}
                              <div class="line-divider"></div>
                              <div class="post-text">

                                <p>
                                    {% for comm in comment %}
                                         <h1>Comment No: {{ forloop.counter }}</h1>
                                           <img src="{{ comm.user.images.url }}" alt="user" class="profile-photo-md pull-left">
                                            <div class="user-info">
                                                <h5><a href="timeline.html" class="profile-link">{{ comm.user}}</a> <span class="following">following</span></h5>
                                                <p class="text-muted">Published at : {{ comm.created }}</p>
                                            </div>

                                        <p style="color: #0E2231;"><b>{{ comm.content}}</b> </p>

                              <div class="form-group mt-4">

                                </div>
                                </p>
                              </div>


                                        <hr>
                                {% endfor %}
{#                              <div class="post-comment">#}
{#                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="profile-photo-sm">#}
{#                                <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>#}
{#                              </div>#}
{#                              <div class="post-comment">#}
{#                                <img src="images/users/user-1.jpg" alt="" class="profile-photo-sm">#}
{#                                <input type="text" class="form-control" placeholder="Post a comment">#}
{#                              </div>#}


                            </div>
                          </div>

                            <div class="widget-49-meeting-action">
                                <a href="#" class="btn btn-sm btn-flash-border-primary">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div> <br>
    <br>


        <!-- /.container-fluid -->


      <!-- End of Main Content -->

{% endblock content %}