{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}


      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
          {% include 'navs.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
             {% include 'present_problem_snipet.html' %}

          <!-- Content Row -->


          <!-- Content Row -->

          <div class="row">
            {% if submitbutton == 'Search' and request.GET.q != '' %}
                {% if results %}
                    {% for result in results %}
                    <div class="col-xl-4 col-lg-5">
                      <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                          <h5 class="m-0 font-weight-bold text-primary"> Where looking for {{ request.GET.q }} problem?</h5>
                          <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                              <div class="dropdown-header">Dropdown Header:</div>
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                          <div class="chart-pie pt-4 pb-3">
                          {# <canvas id="myPieChart"></canvas>#}
                              {% if problem.image %}
                                  <a href="{% url 'core:problem_details' result.slug %} "><img height=" 200px" width="289px"  src="{{result.image.url}}" alt=""></a>
                              {% endif %}
                        <h1> Go ahead and see  how to fix this problem</h1>
                          </div>
                          <div class="mt-4 text-center small">
                            <span class="mr-2">
                              <a href="{% url 'core:problem_details' result.slug %} "><i class="fas fa-circle text-primary">{{result.solution_set.count }}</i> <B>Solutions</B> </a>
                            </span>
                            <span class="mr-2">
                               <a href=""><i class="fas fa-circle text-success"></i> <b>Comments</b></a>
                            </span>
                            <span class="mr-2">
                              <a href=""><i class="fas fa-circle text-info"></i> views</a>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
                {% else %}
                    <div class="alert alert-info" role="alert">
                No search results for this query
                </div>

                {% endif %}
            {% endif %}


            <!-- Pie Chart -->

            <div class="col-xl-12 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Present a problem to MRSS </h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body" >
                    <form method="post" action="{% url 'core:presentProblem' %} " enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                          <div class="form-group col-md-6 mb-0">
                            {{ form.title|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-6 mb-0">
                             {{ form.image|as_crispy_field }}
                          </div>
                        </div>
                        {{ form.problem_desc|as_crispy_field }}
                        <div class="form-row">
                          <div class="form-group col-md-6 mb-0">
                             {{ form.device_brand|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-6 mb-0">
                             {{ form.device_type|as_crispy_field }}
                            </div>
                          </div>
                          <div class="form-group col-md-2 mb-0">

                          </div>

                        <button type="submit" class="btn btn-primary">submit</button>

                      </form>


                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% endblock content %}