{% extends 'base.html' %}
{% block content %}


      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
      {% include 'navs.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Fix your mobile device issues with MRSS</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <!-- Content Row -->


          <!-- Content Row -->
            <div class="row">
            <div class="col-md-12">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title">{{ object.title }}</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
{#                                <div class="widget-49-date-primary">#}
{#                                    <span class="widget-49-date-day">09</span>#}
{#                                    <span class="widget-49-date-month">apr</span>#}
{#                                </div>#}
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">{{ object.get_problem_type_display }}</span>
                                    <span class="widget-49-meeting-time"></span>
                                </div>
                            </div>
                            <div class="post-container">
                            <img src="{{ object.user.images.url}}" alt="user" class="profile-photo-md pull-left">
                            <div class="post-detail">
                              <div class="user-info">
                                <h5><a href="timeline.html" class="profile-link">{{ object.user }}</a> <span class="following"></span></h5>
                                <p class="text-muted">{{ object.created_on }}</p>
                              </div>

{#                              <div class="reaction">#}
{#                                <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 13</a>#}
{#                                <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>#}
{#                              </div>#}
                              <div class="line-divider"></div>
                              <div class="post-text">

                                <p>
                                    {% for solution in object.solution_set.all %}
                                         <h1>Solutions {{ forloop.counter }}</h1>

                                        <p style="color: #0E2231;"><b>{{ solution.content|safe}}</b> </p>

                              <div class="form-group mt-4">
                                  <form action="{% url 'core:post_comment' solution.id  %}" method="post">
                                        {% csrf_token %}
                                      <div class="form-group">
                                        <label for="" class="active">Add your comments/solutions </label>
                                        <textarea name="content" placeholder="Leave a comment" class="form-control" id="content" rows="3"></textarea>
                                      </div>
                                        <button class="btn btn-info waves-effect waves-light" type="submit"><i class="fa fa-paper-plane g-pos-rel g-top-1 g-mr-3"></i> Send</button>
                                    </form>
                                </div>
                                </p>
                              </div>


                                <span class="mr-2">
                                  <a href=" "><i class="fas fa-circle text-primary"></i> <b></b> </a>
                                </span>
                                <span class="mr-2">
                                   <a href="{% url 'core:comments' solution.id %}"><i class="fas fa-circle text-success"></i> <b>Comments</b></a>
                                </span>
                                <span class="mr-2">
                                  <a href=""><i class="fas fa-circle text-info"></i> </a>
                                </span>
                                        <ol class="widget-49-meeting-points">
                                            <li class="widget-49-meeting-item"><span>Feel the family with MRSS</span></li>
                                            <li class="widget-49-meeting-item"><span>Be free from problem</span></li>
                                            <li class="widget-49-meeting-item"><span>Fix anything here</span></li>
                                        </ol>
                                        <hr>
                                {% endfor %}
{#                              <div class="post-comment">#}
{#                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="profile-photo-sm">#}
{#                                <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>#}
{#                              </div>#}
{#                              <div class="post-comment">#}
{#                                <img src="images/users/user-1.jpg" alt="" class="profile-photo-sm">#}
{#                                <input type="text" class="form-control" placeholder="Post a comment">#}
{#                              </div>#}


                            </div>
                          </div>

                            <div class="widget-49-meeting-action">
                                <a href="#" class="btn btn-sm btn-flash-border-primary">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div> <br>
    <br>


        <!-- /.container-fluid -->


      <!-- End of Main Content -->

{% endblock content %}